a {
  color: inherit;
  text-decoration: underline;
}

#name {
  text-decoration: none;
}

li.list-group-item:hover {
  color: inherit;
}

li.list-group-item {
  color: inherit;
  background-color: inherit;
}
